@import 'tailwindcss';

@import 'tw-animate-css';
@plugin "daisyui";




@plugin "daisyui/theme" {
  name: "cyberpunk";
  default: true;

  --color-base-100: oklch(54% 0.245 262.881);
  --color-base-200: oklch(42% 0.199 265.638);
  --color-base-300: oklch(28% 0.091 267.935);
  --color-base-content: oklch(97% 0.014 254.604);
  --color-primary: oklch(90% 0.182 98.111);
  --color-primary-content: oklch(14.844% 0.041 6.35);
  --color-secondary: oklch(72% 0.219 149.579);
  --color-secondary-content: oklch(16.666% 0.036 204.72);
  --color-accent: oklch(76% 0.188 70.08);
  --color-accent-content: oklch(14.372% 0.043 310.43);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(94.51% 0.179 104.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}




@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

}

@layer utilities {
    body,
    html {
        --font-sans:
            'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
            background: var(--color-base-100);
            scroll-behavior: smooth;
            overscroll-behavior-y: none;
    }
}





@layer base {
    * {
      
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body {
      
    }
}
